@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: linear-gradient(#f2f7f4, #de0bcc);
    height: 100vh;
    border-radius: 500px;
}

.heading {
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.button-container {
    text-align: center;
}

.paragraph {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    font-family: "Roboto";
}

.button1 {
    font-size: 15px;
    margin: 5px;
    border-width: 0px;
    padding: 10px;
    height: 35px;
    border-radius: 8px;
    width: 90px;
}

.resetButton {
    text-align: center;
    margin-top: 20px;
}

.button2 {
    font-size: 15px;
    border-radius: 50%;
    border-width: 0px;
    padding: 10px;
    height: 40px;
    width: 100px;
}